/* App.css */
.transition {
  transition: 0.2s ease-in-out;
}

.placeholder-style::placeholder {
  margin-top: 4px;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 8px;
  transition: 0.5s;
  letter-spacing: 3px;
}

.hero-image {
  background-image: url(assets/images/new-uterus.jpeg);
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}

.journal-hero {
  background-image: url(./assets/svg/design.svg);
  background-repeat: no-repeat;
  height: 100vh;
}

.highlight-cycle-day {
  background: #ffcfdb !important;
  color: white !important;
  border-radius: 50%;
}

.bg-auth {
  background-image: url(./assets/images/possible-bg.webp);
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

/* Add this to your CSS file */
.day {
  flex: 0 0 auto;
  width: 120px; /* Adjust width as needed */
}

.flex-row {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.nav-button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #0056b3;
}

.forum-image {
  background-image: url(./assets/images/family-planning.avif);
  height: 50vh;
  width: 100%;
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-forum {
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
  width: inherit;
}

/* Article */
.articleBg {
  background-image: url(../src/assets/images/cervical-cancer.avif);
  background-position: center;
}

.articleOverlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: inherit;
}
